# Please rename this file to `config.py`

# ACCESS and SECRET KEY
ACCESS_KEY = ''
SECRET_KEY = ''

# Program Log Setting
# Log Level [DEBUG, INFO, ERROR, OFF] Default: ERROR
LOG_LEVEL = 'INFO'
# Dogee Program Log Saving Path
LOG_SAVEPATH = 'Dogee.log'

# Push Service Setting
# deerpush
ENABLE_PUSHDEER = True
PUSHDEER_KEYS = ['']


# CDN Log Saving Setting
# Merge Log -> Default: True
MERGE_LOG = True
# CDN Log Store Path
CDN_LOGS_STOREPATH = './test'
# TimeZone
TIMEZONE = 'Asia/Chongqing'